footer
  .footer__container
    .footer__wrapper
      .footer__links
        ul
          li
            a(href='#') Terms and Conditions
          li
            a(href='#') Privacy policy
          li
            a(href='#') Accessibility Statement
      .footer__links
        ul
          li
            a(href='#') Chonbani.com
          li
            a(href='#') @Chobani ,LLC
      .footer__links.footer__follow--links
        ul
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-instagram
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-youtube
