header
  .nav__container
    .nav__wrapper
      .nav__group
        .nav__hamburger
          .bar
          .bar
          .bar
        .header__links
          ul
            li.header__links--group
              a(href='#')
                span Stores
            li.header__links--group
              a(href='#')
                span Tags
            li.header__links--group
              a(href='#')
                span Top
            li.header__links--group
              a(href='#')
                span Add
        .nav__title
          h3=h.title
          h4 Food Service
        .follow__links
          ul
            li.follow__links--group.marker
              a(href='#')
                i.fa.fa-map-marker
            li.follow__links--group.register__link
              a(href='#')
                span Register
            li.follow__links--group.login__link
              a(href='#')
                span Login
      .nav__search
        form
          input(type='text' for='search' name='name' placeholder="Enter the Store's Name....")
          button(type='submit')
            i.fa.fa-search
      .mobile__navbar
        .mobile__navbar--close
          a(href='#')
            i.fa.fa-times
        .header__links--mobile
          ul
            li.header__links--group
              a(href='#')
                span Add
            li.header__links--group
              a(href='#')
                span Stores
            li.header__links--group
              a(href='#')
                span Tags
            li.header__links--group
              a(href='#')
                span Top
            li.header__links--group
              a(href='#')
                span Register
            li.header__links--group
              a(href='#')
                span Login
        .follow__links--mobile
          ul
            li.follow__links--group
              a(href='#')
                i.fa.fa-facebook
            li.follow__links--group
              a(href='#')
                i.fa.fa-instagram
            li.follow__links--group
              a(href='#')
                i.fa.fa-twitter
