header
  .nav__container
    .nav__wrapper
      .nav__group
        .nav__hamburger
          .bar
          .bar
          .bar
        .header__links
          ul
            li.header__links--group
              a(href='/stores')
                span Stores
            li.header__links--group
              a(href='/tags')
                span Tags
            li.header__links--group
                a(href='/top')
                  span Favourites      
            if user
              li.header__links--group
                a(href='/add')
                  span Add
        .nav__title
          h3=h.title
        .follow__links
          ul
            //- li.follow__links--group.marker
            //-   a(href='#')
            //-     i.fa.fa-map-marker
            if !user    
              li.follow__links--group.register__link
                a(href='/register')
                  span Register
              li.follow__links--group.login__link
                a(href='/login')
                  span Login
            if user    
              li.follow__links--group.login__link
                a(href='/profile')
                  span Profile
              li.follow__links--group.login__link
                a(href='/logout')
                  span Logout
              //- li.follow__links--group.login__link
              //-   a(href='/login')
              //-     span
              //-       img(src='https://api.adorable.io/avatars/40/abott@adorable.png'  width="50px" height="50px")
      .nav__search
        form.search
          input.search_input(type='text' for='search' name='search' list="huge_list"  placeholder="Enter the Store's Name....")
          .search__results
          button(type='submit') 
            i.fa.fa-search
      .mobile__navbar
        .mobile__navbar--close
          a(href='#')
            i.fa.fa-times
        .header__links--mobile
          ul
            if !user
              li.header__links--group
                a(href='/stores')
                  span Stores
              li.header__links--group
                a(href='tags')
                  span Tags  
              li.header__links--group
                a(href='/top')
                  span Favourites       
              li.header__links--group
                a(href='/register')
                  span Register
              li.header__links--group
                a(href='/login')
                  span Login    
            if user      
              li.header__links--group
                a(href='/add')
                  span Add   
              li.header__links--group
                a(href='/stores')
                  span Stores
              li.header__links--group
                a(href='/profile')
                  span Profile
              li.header__links--group
                a(href='/logout')
                  span Logout    
        .follow__links--mobile
          ul
            li.follow__links--group
              a(href='#')
                i.fa.fa-facebook
            li.follow__links--group
              a(href='#')
                i.fa.fa-instagram
            li.follow__links--group
              a(href='#')
                i.fa.fa-twitter
