
include includes/meta


.page__container(style="max-width:1880px;margin:0 auto")
  include includes/header.pug



  block messages
  if locals.flashes
    .flash__inner
      .flash__messages
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            div(class="alert m-4 alert-"+category) #{message}
              button.flash__remove( onclick="this.parentElement.remove()") x

           

  main
  block content
  


  include includes/footer.pug

  block foot

  include includes/scripts.pug
