extends layout

block content
 .auth__wrapper.personalForm  
  h3.authTitle Edit your Profile
  form.authForm(method="post" action="/profile/"+user._id)
    label(for='name') Name
    input#name(type='text' name="name" value=user.name  required)
    label(for='username') Email address
    input#username(type='email' name="username"   value=user.username  aria-describedby='emailHelp' required)
    button.btn(type='submit') Update my Account