* {
  box-sizing: border-box;
}

body {
 padding: 0;
 margin: 0;
}

#notfound {
 position: relative;
 height: 100vh;
 width:100%;
}

#notfound .notfound {
 display: block;
 margin:0 auto;
 margin-top:8vh;
}

.notfound {
 max-width: 410px;
 width: 100%;
 text-align: center;
}

.notfound .notfound-404 {
 height: 280px;
 position: relative;
 z-index: -1;
}

.notfound .notfound-404 h1 {
 font-family: 'Montserrat', sans-serif;
 position:absolute;
 left:-120px;
 font-size: 200px;
 font-weight: 900;
 background: url('../../images/bg.jpg') no-repeat;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-size: cover;
//  color:pink;
 background-position: center;
}


.notfound h2 {
 font-family: 'Montserrat', sans-serif;
 color: #000;
 font-size: 24px;
 font-weight: 700;
 text-transform: uppercase;
 margin-top: 0;
}

.notfound p {
 font-family: 'Montserrat', sans-serif;
 color: #000;
 font-size: 14px;
 font-weight: 400;
 margin-bottom: 20px;
 margin-top: 0px;
}

.notfound a {
 font-family: 'Montserrat', sans-serif;
 font-size: 14px;
 text-decoration: none;
 text-transform: uppercase;
 background: rgb(76, 104, 255);
 display: inline-block;
 padding: 15px 30px;
 border-radius: 40px;
 color: #fff;
 font-weight: 700;
  box-shadow: 0px 4px 15px -5px rgb(76, 104, 255);
  transition : 0.1s all ease-in;
  &:hover{
   background-color:  rgb(56, 85, 247);
   box-shadow: 0px 0x 20px rgb(32, 42, 95)
  }
}


@media screen and (max-width: 800px) {
   

   #notfound{
     .notfound{
       margin-top:20vh;
       .notfound-404{
         height:200px;
         h1{
          font-size:120px;
          left: 0;
         }
       }
     }
   }

}



@media screen and (max-width: 600px) {
   
  #notfound{
    .notfound{
      margin-top:20vh;
      width: 300px;
      .notfound-404{
        height:150px;
        h1{
         font-size:90px;
         left: 0;
        }
      }
    }
  }

}