
// Styles for the website's footer

.page__container{
  position:relative;
  min-height: 100vh;



.footer__container{

  position:relative;
  top:2rem;
  height:2.5rem;
  margin-top:5rem;
  width:100%;

 .footer__wrapper{
  display:flex;
  background-color: $mainfont-color;
  padding:4rem 1rem;
  display: flex;
  margin-top:-2rem;
  .footer__links{
   flex:1;
   padding:0rem 0.5rem;
   ul{
    display: flex;
    flex-direction: column;
    li{
     flex:1;
     text-align: center;
     list-style-type: none;
     a{
      color:white;
      text-decoration: none;
      font-family: $secondary-font;
      font-size:0.9rem;
      transition: 0.1s all ease;
      &:hover{
       text-shadow:0px 0px 10px white;
      }
     }
    }
   }
  }
  .footer__follow--links{
    
    ul{
     width:150px;
    margin:0 auto;
     flex-direction: row;
     li{
       a{
         font-size:1.2rem;
       }
     }
    }
  }
 }
}
}


@media screen and (max-width:800px){
 .footer__container{
  position:absolute;
   top:60%;
  padding:0rem 0rem;
  .footer__wrapper{
   display:flex;
   flex-direction: column;
   padding:2rem 1rem;
   .footer__links{
    flex:1;
    padding:0.5rem ;
    ul{
     display: flex;
     flex-direction: column;
     
     li{
      flex:1;
      padding:0.2rem 0;
      text-align: center;
      list-style-type: none;
     }
    }
   }
   .footer__follow--links{
    flex:1;
   margin:0 auto;
    width:40vw;
   
    ul{
     display: flex;
     flex-direction: row;
     li{
      flex:1;
      text-align: center;
      list-style-type: none;
      a{
      font-size: 1.3rem;
      }
     }
    }
   }
  }
 }
}