
body{
 margin:0;
 padding:0;
}


// Sppinner styles
.spinner-wrapper {
  display: none;
  opacity: 0;
  z-index: 9999;
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
 }
 
 .spinner-wrapper--active {
  display: block;
  opacity : 1;
 }
 
 .spinner {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%, -50%);
 }
 
 .line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 25px;
 }
 
 .line:nth-child(1) {
  background: #27ae60;
 }
 
 .line:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
 }
 
 .line:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
 }
 
 .line:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
 }
 
 @keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
 }
 



// Header styles
*{
 margin:0;
 padding:0;
box-sizing:border-box;
}

.nav__container{
 margin:0;
 overflow: hidden;
 .nav__wrapper{
  width:100%;
  background-color: $background-color;
  padding:1rem;
  font-family :$primary-font;
  color:$mainfont-color;
  padding:0;
  margin:0;

  .nav__hamburger{
    div{
     display:none;
      background-color: black;
      width:30px;
      height:2.5px;
      margin-bottom:3px;
      border-radius: 4px;
    }
    &:hover{
      cursor:pointer;
    }
  }

  .nav__group{

   display:flex;
   padding:1.5rem 0.5rem;
   .header__links{
    flex:1;
    
    display:inline;
    padding-top:1rem;
    ul{
     display:flex;
     li{
       display:inline;
       text-align: center;
       flex:1;
       a{
       color:$mainfont-color;
       text-decoration: none;
       padding:0.5rem 1rem;
       transition:s all ease;
       &:hover{
        border-bottom:2px solid rgb(188, 220, 241);
       }
       }
     }
    }
   }
 
   .nav__title{
    flex:1 ;
    display:inline;
    
    text-align: center;
    text-transform: uppercase;
    h3,h4{
    font-weight: bold;
    font-size:40px;
    }
   }

   .follow__links{
    flex:1;
    padding-top:1rem;
    ul{
     display:flex;
     li{
       display:inline;
       text-align: center;
       flex:1;
       a{
       color:$mainfont-color;
       text-decoration: none;
       padding:0.5rem 1.4rem;
       transition:s all ease;
       &:hover{
        border-bottom:2px solid rgb(191, 221, 250);
       }
       }
     }
     .marker{
      font-size:30px;
      margin:-15px -5px;
     }
    }
   }
  }

 .nav__search{
   form{
    position: relative;
    margin:2rem 1rem;
    input{
     width:100%;
     padding:1.2rem 0.7rem;
     border-radius: 3px;
     border:1px solid rgb(218, 218, 218);
     outline:none;
    }
    button{
     font-size:24px;
     position:absolute;
     padding:0.2rem 1.2rem;
     margin:0.4rem;
     right:5px;
     top:4px;
     background-color: $mainfont-color;
     outline:none;
     border-radius: 5px;
     border:1px solid $mainfont-color;
     color:white;
     &:hover{
      cursor:pointer;
     }
    }
   }
  }

  

  // Styling of Mobile-Navbar------
  .mobile__navbar{
   position:absolute;
   z-index:999;
   padding:2rem 0;
   top:0;
   width:40vw;
   height:100%;
   background-color: white;
   box-shadow:0px 0px 5px lightgrey;
   margin-left:-40vw;
   transition:0.3s all ease;
   .mobile__navbar--close{
     position:absolute;
     right:10px;
     top:10px;
     font-size:20px;
     transition:0.2s all ease;
     a{
     color:black;
     }
     &:hover{
      font-size: 30px;
      top:0px;
     }
   }

   .header__links--mobile{
       ul{
        display:block;
        li{
         text-align: center;
         list-style-type: none;
         border-bottom:0.5px solid rgb(219, 219, 219);
         a{
          text-decoration: none;
          color:$mainfont-color;
          display:block;
          padding:1rem  0;
          font-size:1.2rem;
          &:hover{
           color:rgb(68, 60, 54);
          }
         }
        }
       }
   }
   .follow__links--mobile{
    padding:4rem 0;
    ul{
     display:block;
     display: flex;
     li{
      text-align: center;
      flex:1;
      display: inline;
      list-style-type: none;
      a{
       text-decoration: none;
       color:$mainfont-color;
       padding:1rem  1rem;
       font-size:1.2rem;
       &:hover{
        color:rgb(68, 60, 54);
       }
      }
     }
    }
   }
  }

 }
}



.show{
 margin-left:0vw;
 // width:30vw;
}



@media screen and (max-width:800px){
 .nav__container{
  .nav__wrapper{
   .nav__group{
    display: flex;

   .nav__hamburger{
    flex:1;
    display: block;
    padding:1rem 0;
    padding-left:0.5rem;
    div{
     display: block;
      background-color: black;
      width:30px;
      height:3px;
      margin-bottom:3px;
      border-radius: 4px;
    }
    &:hover{
      cursor:pointer;
    }
   }

   .header__links{
    display: none;
   }

   .nav__title{
    padding:0 1rem;
    flex:1;
    h3{
      font-size: 30px;
    }
    h4{
      font-size:20px;
    }
   }

   .follow__links{
     flex:1;
     
    .marker{
     text-align: right;
     padding:0 0rem;
    }
     .register__link,.login__link{
      display: none;
     }
   }
  }
  }
 }
}



