
@mixin blueButton {
       display:inline-block;
         background-color:$mainfont-color;
         color:white;
         width:150px;
         padding:0.5rem;
         text-decoration:none;
         border-radius:5px;
         &:hover{
          box-shadow:0px 0px 5px $mainfont-color;
      }
}

#latitude,#longitude{
  display: inline;
  font-size:0.5rem;
  color:grey;
  padding-top:-1rem;
}


*{
 margin:0;
 padding:0;
}

body{
 margin:0;
 padding:0;
}


.restaurant__container{
 .restaurant__wrapper{
  margin-top:-20px;
   .restaurant__image{
     .restaurant__image--background{
      
      position:relative;
      img{
         width:100%;
         height:600px;
      }
      .restaurant__likes{
        position:absolute;
        top:20px;
        right:10px;
        form{
          button{
           background-color: white;
          border-radius:4px;
          padding:0.5rem;
          opacity:0.8;
           text-decoration:none;
           color:black;
           transition:0.1s all ease;
           &:hover{
            opacity:1;
            cursor:pointer;
            box-shadow:0px 0px 5px white;
           }
           }
           //  hearts clicked
        .hearted{
          opacity:1;
          background-color: pink;
          box-shadow:0px 0px 5px pink;
        }
         }
      }
     }
   }

  


   .restaurant__details{
     display:flex;
     flex-wrap:wrap;
     padding:1rem;
     margin:0.5rem;
     padding-bottom:2rem;
     border-bottom:0.5px solid rgb(228, 228, 228);
    .restaurant__details--mains{
     flex:4;
     h1{
      font-family: $store-font;
      font-weight: bolder;
      margin:0.5rem;
     }
     p{
      font-style: italic;
      color:grey;
      margin:0.5rem;
     }
     .restaurant__details--mainsLinks{
      ul{
       margin-top:1rem;
       li{
        display:inline-block;
        margin:0.5rem;
        list-style-type: none;
        a{
          text-transform: uppercase;
          font-size:0.8rem;
         background-color:$storetags-color;
         padding:0.5rem;
         border-radius: 5px;
         font-weight:600;
         color:black;
        }
       }
      }
     }
    }
    .restaurant__details--links{
     flex:1;
     ul{
      padding:1rem;
      li{
         list-style-type:none;
         margin-bottom:1rem;
         text-align:center ;
        a{
         @include blueButton;
        }
     }
    }
    }
   }

   .restaurant__data{
    display:flex;
    .restaurant__data--mains{
     flex:2;
    // 
     .restaurant__data--mainContacts{
      border-bottom:0.5px solid rgb(233, 233, 233);
      margin:0 0.3rem;
      padding:0.5rem 0;
      ul{
       display:flex;
       li{
        text-align: center;
        flex:1;
        display:inline;
        i{
         padding:0 0.5rem;
         font-size:1.2rem;
         color:black;
        }
        a{
         text-decoration:none;
         color:black;
         font-weight: 600;
        }
       }
      }
     }
     .restaurant__data--bio{
       margin:1rem 0.5rem;
       padding:0 1.5rem;
       border-bottom:0.5px solid rgb(233, 233, 233);
      //
      h3{ 
       font-family:$store-font;
       font-weight: bold;
       display:inline;
       border-bottom:4px solid $mainfont-color;
      }
      p{
       font-family:$primary-font;
       padding:1rem 0;
      }
     }
     .restaurant__data--addons{
       padding:2rem 2rem;
       h3{
         display:block;
         font-weight:bold;
         margin-bottom:1.7rem;
       }
       .restaurant__data--addonswrapper{
        // border-bottom:0.5px solid rgb(233, 233, 233);
        display:flex;
        flex-wrap:wrap;
        justify-content: flex-start;
        .addons{
          flex:1 0 50%;
          margin-bottom:1.5rem;
          // i {
          //   font-size:1.3rem;
          // margin-right:0.3rem;
          // }
          span{
           font-size:1.1rem;
           text-transform:uppercase;
           font-family: $primary-font;
           font-weight: 600;
          }
          p{
            margin: 0;
            padding:0 0rem;
          }
       }
      }
     }
    }
    .restaurant__data--map{
     flex:1;
    // 
     position:relative;
     iframe{
      width:100%;
      height:100%;
     }
    }
   }


   .restaurant__footer{
    margin:4rem 0.5rem;
    padding:0 0.5rem;
    border-top:0.5px solid rgb(233, 233, 233);
     font-family:$store-font;
     .restaurant__footer--titles{
       display: flex;
       .restaurant__footer--titleHeader{
         flex:1;
        display:inline-block;
        h3{
          color:$mainfont-color;
          font-weight:400;
          margin: 1rem;
        }
       }
       .restaurant__footer--titleLinks{
         flex:2;
         text-align: center;
          ul{
            margin:1rem 0;
            li{
              margin:0.5rem;
              display:inline;
              list-style-type:none;
              text-align:center ;
              a{
                @include blueButton;
                width:200px;
              }
            }
          }
       }
     }
     .restaurant__footer--links{
      
       display:flex;
       .restaurant__footer--lists{
         margin-top:2rem;
         padding:1rem;
         flex: 1 0 25%;
        
         h5{
           font-weight: bold;
           margin-bottom:1.3rem;
         }
         ul{
           li{
             list-style-type: none;
           }
         }
       }
     }
   }

  }
}

@media screen and (max-width:605px){
  .restaurant__container{
    .restaurant__wrapper{
      .restaurant__image{
        .restaurant__image--background{
         img{
            width:100%;
            height:300px;
         }
         .restaurant__likes{
           position:absolute;
           top:20px;
           right:10px;
           span{
             a{
              background-color: white;
              border-radius:4px;
              padding:0.5rem;
              opacity:0.8;
              text-decoration:none;
              color:black;
              transition:0.1s all ease;
              &:hover{
               opacity:1;
               box-shadow:0px 0px 5px white;
              }
              }
            }
         }
      }
    }
  }
 }
}


@media screen and (max-width:605px){
  .restaurant__container{
    .restaurant__wrapper{
      .restaurant__footer{
        margin:4rem 0.5rem;
        padding:0 0.5rem;
        border-top:0.5px solid rgb(233, 233, 233);
        font-family:$store-font;
        .restaurant__footer--titles{
          display: flex;
          flex-wrap:wrap;
          flex-direction: column;
          .restaurant__footer--titleHeader{
            flex:2;
            display:inline-block;
            h3{
              margin:0rem;
            }
          }
          .restaurant__footer--titleLinks{
            flex:1;
            text-align: left;
            margin:0;
            padding:0;
            ul{
              margin:1rem -0.5rem;
              li{
                a{
                  margin-bottom:1rem;
                }
              }
            }
          }
        }
        .restaurant__footer--links{
          display:flex;
          flex-wrap:wrap;
          .restaurant__footer--lists{
            margin-top:2rem;
            padding:0rem;
            flex: 1 0 45%;
            ul{
              width:80%;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width:605px){
   .restaurant__container{
     .restaurant__wrapper{
      .restaurant__details{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        padding:1rem 0rem;
        margin:0.5rem;
        padding-bottom:2rem;
        border-bottom:0.5px solid rgb(228, 228, 228);
       .restaurant__details--mains{
        flex:4;
        h1{
         font-family: $store-font;
         font-weight: bolder;
         margin:0.5rem;
        }
        p{
         font-style: italic;
         color:grey;
         margin:0.5rem;
        }
        .restaurant__details--mainsLinks{
         ul{
          margin-top:1rem;
          display:block;
          li{
           display:inline-block;
           margin:0.5rem;
           list-style-type: none;
           a{
             text-transform: uppercase;
             font-size:0.8rem;
            background-color:$storetags-color;
            padding:0.5rem;
            border-radius: 5px;
            font-weight:600;
            color:black;
           }
          }
         }
        }
       }
       .restaurant__details--links{
        flex:1;
        
        ul{
         margin:1rem 0;
         padding:0.5rem;
         justify-content: left;
         li{
           display:inline-block;
            list-style-type:none;
            margin-right:0.5rem;
            text-align:center ;
           a{
            @include blueButton;
           }
         }
        }
       }
      }
     }
   }
}

@media screen and (max-width:605px){
 .restaurant__container{
   .restaurant__wrapper{

  .restaurant__data{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    .restaurant__data--mains{
     flex:2; 
     .restaurant__data--mainContacts{
      border-bottom:0.5px solid rgb(233, 233, 233);
      margin:0 0.3rem;
      padding:1rem 0;
      ul{
       display:block;
       margin:0.5rem;
       li{
        text-align: right;
        margin-right:1rem;
        display:inline-block;
        i{
         padding:0 0.5rem;
         font-size:1.2rem;
         color:black;
        }
        a{
         text-decoration:none;
         color:black;
         font-weight: 600;
        }
       }
      }
     }
     .restaurant__data--bio{
       margin:1rem 0.5rem;
       padding:0 0.5rem;
       border-bottom:0.5px solid rgb(233, 233, 233);
     }
     .restaurant__data--addons{
       padding:2rem 1rem;
       .restaurant__data--addonswrapper{
        // border-bottom:0.5px solid rgb(233, 233, 233);
        display:flex;
        flex-wrap:wrap;
        justify-content: flex-start;
        .addons{
          flex:1 0 50%;
          margin-bottom:1.5rem;
          // i {
          //   font-size:1.3rem;
          // margin-right:0.3rem;
          // }
       }
      }
     }
    }
    .restaurant__data--map{
     flex:1;
     height:300px;
     margin:1rem;
     position:relative;
     iframe{
      width:100%;
      height:100%;
     }
    }
   }
  } 
 }
}

